In [1]:
import sqlite3

In [2]:
import pandas as pd

In [3]:
import yfinance as yf

In [4]:
start_date = '2020-01-01'
end_date = '2023-01-23'

# Define the ticker list
tickers_list = ['SPY', 'TLT', 'HYG', 'LQD','VNQ']

# Create placeholder for data
data = pd.DataFrame(columns=tickers_list)

# Fetch the data
for ticker in tickers_list:
    data[ticker] = yf.download(ticker, 
                               start_date,
                               end_date)['Adj Close']
    
# Print first 5 rows of the data
data.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                   SPY         TLT        HYG         LQD        VNQ
Date
2020-01-02  309.694855  129.896439  76.631859  118.172913  82.446083
2020-01-03  307.349854  131.896866  76.553757  118.578415  82.958549
2020-01-06  308.522339  131.147903  76.475639  118.182152  83.057465
2020-01-07  307.654907  130.503189  76.406227  117.878014  82.131401
2020-01-08  309.294556  129.640442  76.475639  117.712166  82.383156

In [6]:
def insert_data(data):
    conn = sqlite3.connect('example.db')
    c = conn.cursor()
    data.to_sql('example_table', conn, if_exists='append', index=False)
    conn.commit()
    conn.close()

insert_data(data)